/* ##################################### */
/*          Main CSS file                */
/* ------------------------------------- */
/*
* The main custom CSS file for my personal *
* website for all the pages, forms etc.    *
* This file is used to keep all the design *
* consistant using Bootstrap 5 framework   *
*/
/* ##################################### */
/* ##################################### */
/*                HTML/BODY              */
/* ##################################### */
body
{
    min-height: 100vh;
    margin: 0;

    display: grid;
    grid-template-rows: auto 1fr auto;
}
  
.container 
{
    position: relative;
    min-height: 100vh;
    /*
    position: relative;
    min-height: 100vh;
    padding-bottom: 20%;
    */
}
/* ##################################### */
/*                  MISC                 */
/* ##################################### */
hr {border-top: 0.01px solid black;}
/* ##################################### */
/*                  TEXT                */
/* ##################################### */
/* Text Headers */
h1, h2, h3, h4, h5, h6 
{
    color: black;
}
/* Paragraph */
p
{
    text-align: justify;
    text-justify: inter-word;
}
/* Footer text */
.footer-text 
{
    text-align: center;
    text-justify: none;
}
/* ##################################### */
/*               Navigation              */
/* ##################################### */
/* at 991px, the mobile nav bar is shown */
@media (max-width: 991px) 
{
    .nav-item
    {
        text-align: center;
    }
}
/* ##################################### */
/*               Homepage                */
/* ##################################### */
/* CSS for the video on the homepage */
#homepage-video
{
    width: auto;
    height: auto;
}

 #img-homepage
 {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
 }


/* When window goes 991px or lss */
@media (max-width: 991px) 
{
    .img-banner-homeage
    {
        width: 100%;
    }

    /* Chnage image to an increased size */
    #img-homepage
    {
        background-image: url("assets/media/images/misc/Cropped-Proejct-Indecisive.jpg");
        width: 100% !important;
        height: auto;
    }

}








/* ##################################### */
/*              About Page               */
/* ##################################### */
/* Main section div container */
section , .about-section
{
    width: 100% !important;
    height: 600px !important;
    margin-bottom: 0.5%;
    overflow: hidden !important;
}

/* Increase to fix the text overflow problem */
@media (max-width: 991px) 
{
    section , .about-section
    {
        width: 100% !important;
        height: 650px !important;
        margin-bottom: 0.5%;
        overflow: hidden !important;
    }
}
/* Self image adjustments */
.about-section .crop-img
{
    object-fit: none;           /* Do not scale the image */
    object-position: 57% 35%;   /* Center the image within the element */
    width: 100% !important;
  
   /* max-height: 100% !important;*/
    margin-bottom: 1rem;
  }
 /* RWD crop image for about section */
  @media (min-width: 279px) 
  {
    .crop-img
    {
        object-fit: none;                        /* Do not scale the image */
        object-position: 54.5% 35% !important;   /* Center the image within the element */
    
    }

  }
/* Company logos for the career experience  */
  .logo 
  {
      width: 40%;
  }
/* Text box used for each about section text area */
.about-text-box
{
    width: 75%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
/* ##################################### */
/*             Projects Page             */
/* ##################################### */
/* Project card box */
  .card 
  {
    width: 100% !important;
    height: 25% !important;
    padding-bottom: 10px !important;
    margin-bottom: 10px !important;
}

/* css for the thumbnail of the project in the .card */
.project-thumbnail 
{
    object-fit: none;
    object-position: 57% 20%;   /* Center the image within the element */
    width: 500px;
    height: 200px; 
}
/* ##################################### */
/*              Contact Page             */
/* ##################################### */
/* Center contact div */
.contact 
{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 auto;
}

/* Submit the form button */
.submit-form 
{
    background: grey;
    border-color: lightgrey;
    width: 200px;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-top: 20px; 
}
/* Submit the form button hover over */
.submit-form:hover
{
    background: lightgrey;
    border-color: lightgrey;
    color: #000000;
}
/* Select Dropdown */
.form-select 
{
    width: 100% !important;
    height: 40px;
    background-color: white;
    border-style: solid 0.001em;
    border-color: white;
}

/* Align text center for U.I placeholders/options */
input, select, option, textarea
{
    text-align: center !important;
    text-align-last:center !important;
    -moz-text-align-last: center; 
    text-align: -webkit-center;
}

/* ##################################### */
/*                 FOOTER                */
/* ##################################### */
/* Footer */
.footer 
{
    width: 100%;
    min-height: 50px;
    padding: 0;
    padding-bottom: 0px;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
}

/* Center content vertically */
.footer-content
{
    padding: 70px 0 !important;
    text-align: center !important;
}
/* Remove text decoration */
.footer a:hover
{
    text-decoration: none !important;
}

/*
OLD:
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;            
--------------------------------
    padding: 0;
    padding-bottom: 100px;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
*/


/* back to top anchor button */
.back-to-top p , .back-to-top
{
    width: 100%;
    margin-top: 15px;
    height: auto;
}

/* ##################################### */
/*              Swift Project            */
/* ##################################### */
/* Decrease to fix the img huge problem */
@media (max-width: 991px) 
{
    #blackjack-main-gif,
    #blackjack-main-gif img
    {
        width: 100% !important;
        height: auto !important;
    }
}


